workflows/chat_bot_funciona.json
{
  "updatedAt": "2025-11-20T14:26:52.000Z",
  "createdAt": "2025-11-20T14:04:50.771Z",
  "id": "FdyWVmiSAYyESCJv",
  "name": "chat bot funciona",
  "description": null,
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        0,
        0
      ],
      "id": "58cd51a8-eca8-4d47-9c9c-74d261858ed7",
      "name": "When chat message received",
      "webhookId": "ecd97c0c-8d88-41ed-8786-417df03ad3bd"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "e18d1991-6f1e-4b4c-8724-148c619e9eca",
              "leftValue": "={{ $json.chatInput }}",
              "rightValue": "hola",
              "operator": {
                "type": "string",
                "operation": "startsWith"
              }
            },
            {
              "id": "3ec7fa92-4b78-4a00-855e-454dbccc48f4",
              "leftValue": "={{ $json.chatInput }}",
              "rightValue": "adios",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        208,
        0
      ],
      "id": "34d300bf-3ade-480f-95cb-ac7f0be9a429",
      "name": "If"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.chatInput }}",
                    "rightValue": "hola",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    },
                    "id": "d388387c-148b-4970-9ebe-6a20e537822c"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "saludo"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "85907b92-b580-4c12-9219-c6dcbaeb74c3",
                    "leftValue": "={{ $json.chatInput }}",
                    "rightValue": "adios",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "despedida"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "a50f51c4-f8d7-40cc-acc6-204175673927",
                    "leftValue": "={{ $json.chatInput }}",
                    "rightValue": "hola",
                    "operator": {
                      "type": "string",
                      "operation": "notContains"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "indefinido"
            }
          ]
        },
        "options": {
          "fallbackOutput": "none"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        304,
        192
      ],
      "id": "9504677c-6a3e-4b4f-9181-4c880f949a4e",
      "name": "Switch"
    },
    {
      "parameters": {
        "chatId": "5411092636",
        "text": "Hola tomate",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        512,
        80
      ],
      "id": "b58469c4-974b-4b39-8ad0-f23ff8bf180d",
      "name": "Send a text message",
      "webhookId": "1298b62b-a162-4852-aece-dd4080cd3758",
      "credentials": {
        "telegramApi": {
          "id": "L6csDXMJ7IQgLEt4",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "5411092636",
        "text": "Adio manolin",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        608,
        208
      ],
      "id": "512cd572-1066-4a48-9a6c-991863667591",
      "name": "Send a text message1",
      "webhookId": "1298b62b-a162-4852-aece-dd4080cd3758",
      "credentials": {
        "telegramApi": {
          "id": "L6csDXMJ7IQgLEt4",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "5411092636",
        "text": "que dise tu",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        528,
        368
      ],
      "id": "e59d1e95-2424-412a-98ec-0b047f0867fe",
      "name": "Send a text message2",
      "webhookId": "1298b62b-a162-4852-aece-dd4080cd3758",
      "credentials": {
        "telegramApi": {
          "id": "L6csDXMJ7IQgLEt4",
          "name": "Telegram account"
        }
      }
    }
  ],
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          },
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send a text message1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send a text message2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "24372d14-1736-41e9-b47a-c5715cfe94d6",
  "versionCounter": 7,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2025-11-20T14:04:50.774Z",
      "createdAt": "2025-11-20T14:04:50.774Z",
      "role": "workflow:owner",
      "workflowId": "FdyWVmiSAYyESCJv",
      "projectId": "8XkeMWGzbCQjcmEa",
      "project": {
        "updatedAt": "2025-11-19T14:27:28.265Z",
        "createdAt": "2025-11-19T14:25:00.693Z",
        "id": "8XkeMWGzbCQjcmEa",
        "name": "Max Ballovar <maxballovar80@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "projectRelations": [
          {
            "updatedAt": "2025-11-19T14:25:00.694Z",
            "createdAt": "2025-11-19T14:25:00.694Z",
            "userId": "b19c2bc4-5802-46b0-8cfc-3e263d0f4f34",
            "projectId": "8XkeMWGzbCQjcmEa",
            "user": {
              "updatedAt": "2025-11-28T09:30:57.000Z",
              "createdAt": "2025-11-19T14:25:00.359Z",
              "id": "b19c2bc4-5802-46b0-8cfc-3e263d0f4f34",
              "email": "maxballovar80@gmail.com",
              "firstName": "Max",
              "lastName": "Ballovar",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2025-11-19T14:27:43.210Z",
                "personalization_survey_n8n_version": "1.120.4",
                "companySize": "<20",
                "companyType": "saas",
                "role": "business-owner",
                "reportedSource": "google"
              },
              "settings": {
                "userActivated": true,
                "easyAIWorkflowOnboarded": true,
                "firstSuccessfulWorkflowId": "VQqsf0jHu6BhpIdX",
                "userActivatedAt": 1764080062629
              },
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2025-11-28",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": []
}