workflows/primer__rag.json
{
  "updatedAt": "2025-11-27T14:18:58.000Z",
  "createdAt": "2025-11-24T12:27:36.835Z",
  "id": "LmNOTwxNaK9r3OtK",
  "name": "primer  rag",
  "description": null,
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1XlbYjfcZoIVGSCyYoBf6s592h_9hpYUM",
          "mode": "list",
          "cachedResultName": "sitges n8n",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1XlbYjfcZoIVGSCyYoBf6s592h_9hpYUM"
        },
        "event": "fileCreated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        -544,
        -16
      ],
      "id": "a2ec39b5-3769-47ff-bb48-da230ba4c537",
      "name": "Google Drive Trigger",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "2DBHUwYrTprdS3kA",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "sitges",
          "mode": "list",
          "cachedResultName": "sitges"
        },
        "embeddingBatchSize": 1000,
        "options": {
          "pineconeNamespace": "sitges"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        -112,
        -16
      ],
      "id": "e7d5eb02-2387-4f81-8540-5e29c039e192",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "w8l7Jhnnl5K5chqP",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "dimensions": 512,
          "batchSize": 512
        }
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        -144,
        144
      ],
      "id": "5f169070-b69e-41d2-9025-da78a8000a1a",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "lB7o5FTwVYBfowOU",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "textSplittingMode": "custom",
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "file",
                "value": "={{ $json.name }}"
              }
            ]
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        32,
        176
      ],
      "id": "c530cc1d-2dca-4931-9066-baefc12605c1",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "chunkSize": 500,
        "chunkOverlap": 20,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        112,
        384
      ],
      "id": "30240e50-c426-49f9-9a4b-72c636ce21de",
      "name": "Recursive Character Text Splitter"
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -336,
        -16
      ],
      "id": "787e4d9a-f3a4-4504-9f5b-88d78c79a3a3",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "2DBHUwYrTprdS3kA",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        320,
        -16
      ],
      "id": "d4c01582-c02b-4751-831a-d45082e28676",
      "name": "AI Agent"
    }
  ],
  "connections": {
    "Google Drive Trigger": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "36698c8b-d625-44f0-a479-235522643b17",
  "versionCounter": 10,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2025-11-24T12:27:36.841Z",
      "createdAt": "2025-11-24T12:27:36.841Z",
      "role": "workflow:owner",
      "workflowId": "LmNOTwxNaK9r3OtK",
      "projectId": "8XkeMWGzbCQjcmEa",
      "project": {
        "updatedAt": "2025-11-19T14:27:28.265Z",
        "createdAt": "2025-11-19T14:25:00.693Z",
        "id": "8XkeMWGzbCQjcmEa",
        "name": "Max Ballovar <maxballovar80@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "projectRelations": [
          {
            "updatedAt": "2025-11-19T14:25:00.694Z",
            "createdAt": "2025-11-19T14:25:00.694Z",
            "userId": "b19c2bc4-5802-46b0-8cfc-3e263d0f4f34",
            "projectId": "8XkeMWGzbCQjcmEa",
            "user": {
              "updatedAt": "2025-11-28T09:30:57.000Z",
              "createdAt": "2025-11-19T14:25:00.359Z",
              "id": "b19c2bc4-5802-46b0-8cfc-3e263d0f4f34",
              "email": "maxballovar80@gmail.com",
              "firstName": "Max",
              "lastName": "Ballovar",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2025-11-19T14:27:43.210Z",
                "personalization_survey_n8n_version": "1.120.4",
                "companySize": "<20",
                "companyType": "saas",
                "role": "business-owner",
                "reportedSource": "google"
              },
              "settings": {
                "userActivated": true,
                "easyAIWorkflowOnboarded": true,
                "firstSuccessfulWorkflowId": "VQqsf0jHu6BhpIdX",
                "userActivatedAt": 1764080062629
              },
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2025-11-28",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": []
}