workflows/primer_asistent.json
{
  "updatedAt": "2025-11-24T12:27:22.000Z",
  "createdAt": "2025-11-24T09:05:34.189Z",
  "id": "8EZAFLBORhjr5z0U",
  "name": "primer asistent",
  "description": null,
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        -544,
        16
      ],
      "id": "be68a52d-b2fe-4a65-913f-69846cf060e8",
      "name": "When chat message received",
      "webhookId": "7151ba03-52a0-4007-b32a-77ffcb443bd8"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1QV6cOPI5t4rz0MB8rTk9lKu2j74djcMNrsAc5RNmQjI",
          "mode": "list",
          "cachedResultName": "busqueda",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1QV6cOPI5t4rz0MB8rTk9lKu2j74djcMNrsAc5RNmQjI/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Hoja 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1QV6cOPI5t4rz0MB8rTk9lKu2j74djcMNrsAc5RNmQjI/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "busqueda ": "={{ $json.chatInput }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "busqueda ",
              "displayName": "busqueda ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "respuesta",
              "displayName": "respuesta",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -400,
        16
      ],
      "id": "537bf3d8-ead5-4dcb-ba0a-669b173a40b0",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "NazazSPRrIANKhvI",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('When chat message received').item.json.chatInput }}\n",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "Eres un asistente que asistente que ayuda al usuario a buscar por Google mediante la herramientA: GOOGLE API todas las busquedas que te pida por chat el usuario.\nTu tono es amigable, claro y conciso.\nIdioma: Español\nSiempre contestaras unicamente el listado de URLS y NOMBRES que vengan de la herramienta."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        -176,
        16
      ],
      "id": "3f2b13cc-9193-46be-8384-b4d17d2f40fe",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "builtInTools": {
          "codeInterpreter": true
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        -320,
        224
      ],
      "id": "10b084ce-6a4c-42ea-b559-2583c9448da7",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "lB7o5FTwVYBfowOU",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('When chat message received').item.json.sessionId }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -176,
        224
      ],
      "id": "eb2a2a05-0ca5-4ad6-b859-8039ca36439f",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "toolDescription": "Esta tool busca en google usando los terminos que indica el usuario.",
        "url": "https://google-search74.p.rapidapi.com",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "query",
              "value": "={{ $('When chat message received').item.json.chatInput }}"
            },
            {
              "name": "limit",
              "value": "20"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-rapidapi-host",
              "value": " google-search74.p.rapidapi.com"
            },
            {
              "name": "x-rapidapi-key",
              "value": "f3f725549dmshc76b70f6e3f3c1ep16e572jsn8b845b453d39"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.3,
      "position": [
        -32,
        224
      ],
      "id": "1bc08409-069d-4f96-8bfe-16f85d773f66",
      "name": "GOOGLE API"
    },
    {
      "parameters": {
        "jsonSchemaExample": "[\n  {\n    \"Nombre\": \"California\",\n    \"Url\": \"http://holaqueatal.com\"\n  },\n  {\n    \"Nombre\": \"Nevada\",\n    \"Url\": \"http://ejemplo2.com\"\n  },\n  {\n    \"Nombre\": \"Texas\",\n    \"Url\": \"http://sitio3.org\"\n  }\n]\n\n"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        144,
        192
      ],
      "id": "41141f7a-4722-49d3-95d1-eb985f966e33",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1QV6cOPI5t4rz0MB8rTk9lKu2j74djcMNrsAc5RNmQjI",
          "mode": "list",
          "cachedResultName": "busqueda",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1QV6cOPI5t4rz0MB8rTk9lKu2j74djcMNrsAc5RNmQjI/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Hoja 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1QV6cOPI5t4rz0MB8rTk9lKu2j74djcMNrsAc5RNmQjI/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "row_number": 0,
            "busqueda ": "={{ $('Append row in sheet').item.json['busqueda '] }}",
            "respuesta": "={{ $json.output }}"
          },
          "matchingColumns": [
            "busqueda "
          ],
          "schema": [
            {
              "id": "busqueda ",
              "displayName": "busqueda ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "respuesta",
              "displayName": "respuesta",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        176,
        26.42507596015929
      ],
      "id": "6cba6722-72ad-41f2-b441-2f5b0651a2aa",
      "name": "Update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "NazazSPRrIANKhvI",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "GOOGLE API": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "078dff30-ca60-4aae-a1c3-4cf803ebd76a",
  "versionCounter": 6,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2025-11-24T09:05:34.192Z",
      "createdAt": "2025-11-24T09:05:34.192Z",
      "role": "workflow:owner",
      "workflowId": "8EZAFLBORhjr5z0U",
      "projectId": "8XkeMWGzbCQjcmEa",
      "project": {
        "updatedAt": "2025-11-19T14:27:28.265Z",
        "createdAt": "2025-11-19T14:25:00.693Z",
        "id": "8XkeMWGzbCQjcmEa",
        "name": "Max Ballovar <maxballovar80@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "projectRelations": [
          {
            "updatedAt": "2025-11-19T14:25:00.694Z",
            "createdAt": "2025-11-19T14:25:00.694Z",
            "userId": "b19c2bc4-5802-46b0-8cfc-3e263d0f4f34",
            "projectId": "8XkeMWGzbCQjcmEa",
            "user": {
              "updatedAt": "2025-11-27T11:50:30.000Z",
              "createdAt": "2025-11-19T14:25:00.359Z",
              "id": "b19c2bc4-5802-46b0-8cfc-3e263d0f4f34",
              "email": "maxballovar80@gmail.com",
              "firstName": "Max",
              "lastName": "Ballovar",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2025-11-19T14:27:43.210Z",
                "personalization_survey_n8n_version": "1.120.4",
                "companySize": "<20",
                "companyType": "saas",
                "role": "business-owner",
                "reportedSource": "google"
              },
              "settings": {
                "userActivated": true,
                "easyAIWorkflowOnboarded": true,
                "firstSuccessfulWorkflowId": "VQqsf0jHu6BhpIdX",
                "userActivatedAt": 1764080062629
              },
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2025-11-27",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": []
}